<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/style/style.css' />
    <link rel='stylesheet' href='/style/mui.css' />/
  </head>
  <body>
    {{{body}}}
  </body>
</html>
